<%= simple_form_for(character) do |f| %>
  <div class="form-inputs">
    <%= f.input :photo, as: :file, input_html: { accept: "image/*", capture: "camera" }, label: false %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Create your Hero", class: 'btn btn-primary w-100' %>
  </div>
<% end %>
