.heroify-logo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: white;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $yellow;
  }
}

.illustration-form-container {
  margin: 2em auto;
  padding: 0.8rem;
  padding-left: 6rem;
  border-radius: 6rem 4px 4px 6rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: solid 1px rgba(255, 255, 255, 0.5);
  min-width: 400px;
  max-width: 600px;
  width: 95vw;

  .avatar {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border: solid 1px white;
    object-fit: cover;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }
}

.character-grid {
  background-color: #555;
  height: 90vh;
  width: 90vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
  width: 100%;
  height: 100%;
  .grid-item {
    &.featured {
      grid-row: 1 / 6;
      grid-column: 2 / 7;
    }
  }
  img {
    padding: 2px;
    background-color: white;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}